.BestsellerList {
  background-color: #f5f5f6;
  text-align: left;
  min-height: 306px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: #e1e2e1 solid 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-inline: 20px;
  list-style-type: none;

  .BestsellerHeader {
    display: flex;

    .RefreshButton {
      margin-top: 3px;
      margin-left: 30px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .tab {
    padding-inline: 5px;
    padding-bottom: 3px;
  }

  .GenreSelected {
    font-weight: bold;
    cursor: pointer;
  }
  .Genre {
    cursor: pointer;
  }
}
