.BookInfoBox {
  display: flex;
  width: 1200px;
  align-items: flex-start;

  .BookInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 125px;
    margin-top: 10px;
    background-color: #ffffff;
    cursor: pointer;
  }

  .BookImg {
    max-width: 82px;
    margin-left: 2px;
    margin-right: 40px;
  }

  .BookDetailInfo {
    margin-top: 20px;
    padding-inline: 50px;

    .LibraryInfo {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .accordion-item {
        width: 1098px;
      }

      .Library {
        display: flex;
        justify-content: space-between;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text;

        .LibraryDescription {
          margin-top: 20px;
        }
      }
    }
  }
}
